.register{
    padding-top: 133px;
    text-align: center;
}
.register h1{
    padding-bottom: 38px;
}
.register textarea,.register input{
    text-align: right !important;
    width: 38% ;
    padding: 10px 32px !important;
}

.register button{
    width: 38%;
    padding: 10px 32px !important;


}
@media (max-width:967px){
    .register textarea,.register input,.register button{
        width: 100%;
    }
}


