.register{
    padding-top: 133px;
    text-align: center;
}
h1{
    padding-bottom: 38px;
}
textarea,input{
    text-align: right !important;
    width: 38% ;
    padding: 10px 32px !important;
}

button{
    width: 38%;
    padding: 10px 32px !important;


}
@media (max-width:967px){
    textarea,input,button{
        width: 100%;
    }
}


